/polyfactor
/unittest
/.cproject
/.project
**/.gradle
Tests/*/*.err
Tests/*/*.message
Tests/*/*.diff
Tests/*/*.out
Tests/*/*.score
Tests/*/*.time
Grading/
runTests.sh
make.dep
/**/*.exe
/**/*.o
/**/*.d
/.settings
/**/unitTests.date
**/codegrader.log*
**/.gradle/
tally
